<%- model_class = Application -%>
<div class="page-header">
  <h1>Your <%= model_class.human_attribute_name(@category) %> Application</h1>
  <p>There are five steps to completing your application. When all the steps below are showing <span class="label label-success">Completed</span>, then you have completed your application process.</p>
</div>


<!--
Profile
-->

<div class="row">
  <div class="col-md-2">
    <!-- status labels -->
    <%= @profile_exists ? print_status_label(:completed, 'success') : print_status_label(:incomplete, 'danger') %>
    <!-- /status labels -->
  </div>
  <div class="col-md-8">

    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Step 1</h3>
      </div>
      <div class="panel-body">

        <p>Make sure that your profile is updated.</p>

        <!-- button -->
        <%= link_to user_profile_path(return_to: true), class: 'btn btn-lg btn-default' do %>
          <i class="fa fa-fw fa-user" aria-hidden="true"></i> Edit Profile
        <% end %>

      </div>
    </div>
  </div>
</div>


<!--
Documents
-->

<div class="row">
  <div class="col-md-2">
    <!-- status labels -->
    <% if @resume_exists && @transcript_exists %>
      <%= print_status_label(:completed, 'success') %>
    <% else %>
      <%= @resume_exists ? print_status_label(:resume, 'success') : print_status_label(:resume, 'danger') %>
      <%= @transcript_exists ? print_status_label(:transcript, 'success') : print_status_label(:transcript, 'danger') %>
    <% end %>
    <!-- /status labels -->
  </div>
  <div class="col-md-8">

    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Step 2</h3>
      </div>
      <div class="panel-body">

        <p>Upload supporting documents. This should include your resume and transcript.</p>

        <!-- button -->
        <%= link_to user_document_path(return_to: true), class: 'btn btn-lg btn-default' do %>
          <i class="fa fa-fw fa-file-pdf-o" aria-hidden="true"></i> Upload Documents
        <% end %>
      </div>
    </div>
  </div>
</div>


<!--
Responses
-->

<div class="row">
  <div class="col-md-2">
    <!-- status labels -->
    <% if @personal_statement_exists && @relevant_coursework_exists %>
      <%= print_status_label(:completed, 'success') %>
    <% else %>
      <%= @personal_statement_exists ? print_status_label(:statement, 'success') : print_status_label(:statement, 'danger') %>
      <%= @relevant_coursework_exists ? print_status_label(:coursework, 'success') : print_status_label(:coursework, 'danger') %>
    <% end %>
    <!-- /status labels -->
  </div>
  <div class="col-md-8">

    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Step 3</h3>
      </div>
      <div class="panel-body">

        <p>Submit short responses to some shared questions that will be made available to all fellowships you apply to.</p>

        <!-- button -->
        <%= link_to statement_path(@category, return_to: true), class: 'btn btn-lg btn-default' do %>
          <i class="fa fa-fw fa-pencil" aria-hidden="true"></i> Short Responses
        <% end %>
      </div>
    </div>
  </div>
</div>


<!--
Preferences
-->

<div class="row">
  <div class="col-md-2">
    <!-- status labels -->
    <% if @ranking_submitted %>
      <%= print_status_label(:completed, 'success') %>
    <% else %>
      <%= @ranking_exists ? print_status_label(:not_submitted, 'warning') : print_status_label(:incomplete, 'danger') %>
    <% end %>
    <!-- /status labels -->
  </div>
  <div class="col-md-8">

    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Step 4</h3>
      </div>
      <div class="panel-body">

        <p>Rank your fellowship preferences and write a short response for each of your top <%= @num_applied %> choices.</p>

        <!-- button -->
        <%= link_to fellowships_rank_path(return_to: true), class: 'btn btn-lg btn-default' do %>
          <i class="fa fa-fw fa-sort-amount-desc" aria-hidden="true"></i> Rank Fellowships
        <% end %>
      </div>
    </div>
  </div>
</div>


<!--
Recommendations
-->

<div class="row">
  <div class="col-md-2">
    <!-- status labels -->
    <% if @ranking_submitted %>
      <%= print_status_label(:completed, 'success') %>
    <% else %>
      <%= @ranking_exists ? print_status_label(:not_submitted, 'warning') : print_status_label(:incomplete, 'danger') %>
    <% end %>
    <!-- /status labels -->
  </div>
  <div class="col-md-8">

    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Step 5</h3>
      </div>
      <div class="panel-body">

        <p>Provide the following URL to your professors/mentors so that they can submit letters of recommendations for you:</p>

        <!-- button -->
        <%= link_to fellowships_rank_path(return_to: true), class: 'btn btn-lg btn-default' do %>
          <i class="fa fa-fw fa-sort-amount-desc" aria-hidden="true"></i> Copy Link to Clipboard
        <% end %>
      </div>
    </div>
  </div>
</div>
