
<div class="row">
<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Documents</h3>
    </div>
  
    <% if @documents.empty? %>
    <div class="panel-body">
      <p>You have not uploaded any documents yet.</p>
    </div>
    <% else %>
      <%= render "documents" %>
    <% end %>
    
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Upload Document</h3>
    </div>
    <div class="panel-body">
      <p>Please convert to <strong>pdf</strong> format before uploading.</p>
      <%= simple_form_for(@document, :url => user_document_path, :html => { :multipart => true }) do |f| %>
        <%= f.input :file %>
        <%= error_span(@document[:file]) %>

        <%= f.input :category, as: :radio_buttons, label: 'document type', collection: Document::CATEGORIES %>
        <%= error_span(@document[:category]) %>
      
        <%= f.button :submit, 'Upload', :class => 'btn-primary btn btn-lg' %>  
        <% end %>
    </div>
  </div>
</div>
</div>
