<% title 'FAQ' %>

<div class="page-header">
  <h1>Frequently Asked Questions</h1>
</div>

<div class="row faq">
<div class="col-md-8">

<h3>I am abroad this quarter; can I still apply?</h3>

<p>Yes!  Students who are abroad can still apply.  If selected as a finalist, such applicants will Skype into their interviews, and depending on the time zone difference, may have to be flexible with timing.</p>

<h3>I will be abroad Spring quarter; can I still apply?</h3>

<p>Yes!  However, students who will be abroad in the Spring will be required to complete assignments to make up for the on-campus orientation sessions they will miss.</p>

<h3>I will be graduating at the end of this year; can I still apply?</h3>

<p>Unfortunately SIG only accepts applications from students who will be enrolled as undergraduates for the next academic year, so graduating seniors cannot apply.  The one exception to this is seniors who will be co-terming all of next year, who are allowed to apply.</p>

<h3>I am a freshman; is it still advisable for me to apply?</h3>

<p>Yes, freshmen are encouraged to apply to SIG fellowships and stipends!  Each year, many freshmen are selected for finalist interviews, and typically a few freshman may be chosen as fellows. In the case of fellowships, having a Stanford faculty recommender and experience in your application is preferable; however, if after having spent only one quarter at Stanford, freshman think a high school supervisor or teacher would be able to speak much better on their behalf, or some experience from high school is very relevant to the fellowship, then please include them.</p>

<h3>Can I apply to both the SIG Fellowships and Stipends programs?</h3>

<p>Yes; keep in mind that SIG Stipends funds students who secure an unpaid public policy internship on their own, while SIG Fellowships are pre-arranged fully-funded public policy internships with organizations who have agreed to partner with SIG.</p>

<h3>What is the timeframe for application review, interviews, offers and decisions?</h3>

<p>For fellowships, applications will be reviewed and email notices of whether or not you are a finalist in the week following the submission deadline of <strong><%= print_deadline :fellowship, :application %></strong>.  Interviews will be held from mid-February through early March, with final offers and decisions by mid-March at the latest.</p>

<p>For stipends, applications be reviewed after the submission deadline of <strong><%= print_deadline :stipend, :first %></strong> for the first round and <strong><%= print_deadline :stipend, :second %></strong> for the second round.</p>

<h3>How does my recommender/supervisor submit his/her letter of recommendation/questionnaire on my behalf?</h3>

<p>The system will generate and display a unique URL for uploading your recommendation/questionnaire (you can get back to this page at any time by hitting the <%= link_to '"Apply"', apply_path %> link and selecting the program you are applying for).  Simply have your recommender/supervisor navigate to that URL to submit supporting materials for you.</p>

<p>Fellowship recommendations should be submitted by the deadline of <strong><%= print_deadline :fellowship, :recommendation %></strong>.</p>

<p>Stipend questionnaires should be submitted by the deadline of <strong><%= print_deadline :stipend, :first %></strong> for the first round and <strong><%= print_deadline :stipend, :second %></strong> for the second round.</p>

<h3>Who should I contact if I have any other questions?</h3>

<p>If your questions are about the nature of the fellowship itself, contact the previous fellow for that fellowship, whose email address is listed on the webpage for that fellowship.  If your question is about stipend, a new fellowship (for which there is no previous fellow) or about the application process itself, contact a member of the SIG team, whose email addresses are listed below:</p>

<ul>
<li>Stanford in Government Chair, <%= link_to 'Stefan Norgaard', 'mailto:stefann@stanford.edu'%></li>
<li>Vice Chair of Fellowships and Stipends, <%= link_to 'Anisha Mudaliar', 'mailto:anisha15@stanford.edu'%></li>
<li>Director of International Fellowships, <%= link_to 'Joanne Jang', 'mailto:joanne.jang@stanford.edu'%></li>
<li>Director of DC/National Fellowships, <%= link_to 'Varun Gupta', 'mailto:vgupta16@stanford.edu'%></li>
<li>Director of State and Local Fellowships, <%= link_to 'Cara Ta', 'mailto:carata@stanford.edu'%></li>
<li>Director of County Fellowships and Local Initiatives, <%= link_to 'Ameena Tawakol', 'mailto:ameena@stanford.edu'%></li>
<li>Director of Stipends, <%= link_to 'Kimberly Tan', 'mailto:kwtan@stanford.edu'%> </li>
</ul>

</div>

<div class="col-md-3 col-md-offset-1 hidden-sm hidden-xs">
  <div class="lincoln-side-bar">
  </div>
</div>
</div>