<% title 'Submit Recommendation' %>

<div class="page-header">
  <h1>Submit Recommendation</h1>
  <p>You are submitting a recommendation for a student applying to the <%= Application.human_attribute_name(@application.category) %> program.</p>
</div>



<%= simple_form_for(@rec, url: rec_path(@application.rec_code), html: { class: 'rec-form', method: :post, multipart: true }) do |f| %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>First, please ensure that the student name shown belong is correct.</p>
      <div class="student-name well"><%= @application.user.name %></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>You may choose to either paste your writings into the text box or upload a <strong>pdf</strong> document.</p>

    </div>
  </div>   

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul class="nav nav-tabs nav-justified" id="upload-tabs">
        <li class="active"><a href="#text" data-toggle="tab">Text</a></li>
        <li><a href="#upload" data-toggle="tab">Upload</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade in active" id="text">
          <%= f.input :text, label: 'Recommendation text', as: :text , placeholder: 'This person is cool.', input_html: {:'data-behavior' => :'auto-expand', rows: 2} %>
          <%= error_span(@rec[:text]) %>
        </div>
        <div class="tab-pane fade in" id="upload">
          <%= f.input :letter, label: 'Upload letter' %>
          <%= error_span(@rec[:letter]) %>
        </div>
      </div>

    </div>
  </div>   

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <%= f.input :name, label: 'Your name', placeholder: 'John Smith'%>
      <%= error_span(@rec[:name]) %>
    </div>
    <div class="col-md-4">
      <%= f.input :email, label: 'Your email', placeholder: 'nobody@stanford.edu' %>
      <%= error_span(@rec[:email]) %>
    </div>
  </div>
 
  <div class="row">
    <%= f.button :submit, 'Submit', class: 'btn-primary btn btn-lg col-md-2 col-md-offset-5' %>
  </div>

<% end %>

<script>
$('#upload-tabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>