<%- model_class = Application -%>
<% title "#{model_class.human_attribute_name(@category)} - Application" %>

<div class="page-header">
  <h1>Your <%= model_class.human_attribute_name(@category) %> Application</h1>
  <p>There are five steps to completing your application. When all the steps below are showing <span class="label label-success">Completed</span> then you have completed your application process.</p>

  <p>
  <%= link_to application_path(@application, format: :pdf), class: "btn btn-default#{@profile_exists ? '' : ' disabled'}", data: { toggle: 'tooltip', placement: 'left' }, title: 'Snapshot of your application' do %>
    <i class="fa fa-fw fa-download" aria-hidden="true"></i> Download PDF
  <% end %>

  <%= link_to application_path(@application),
              method: :delete,
              class: "btn btn-default",
              data: {
                toggle: 'tooltip',
                placement: 'right',
                confirm: "Are you sure you want to delete your #{model_class.human_attribute_name(@category)} application?"
              },
              title: 'Delete your application' do %>
    <i class="fa fa-fw fa-trash-o" aria-hidden="true"></i> Delete
  <% end %>

  </p>
</div>

<!--
Profile
-->

<div class="row">
  <div class="col-md-2">
    <!-- status labels -->
    <%= @profile_exists ? print_status_label(:completed, 'success') : print_status_label(:incomplete, 'danger') %>
    <!-- /status labels -->
  </div>
  <div class="col-md-8">

    <div class="panel panel-<%= @profile_exists ? 'success' : 'danger' %>">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Step 1</h3>
      </div>
      <div class="panel-body">

        <p>Make sure that your profile is updated.</p>

        <!-- button -->
        <%= link_to user_profile_path(return_to: true), class: 'btn btn-lg btn-default' do %>
          <i class="fa fa-fw fa-user" aria-hidden="true"></i> Edit Profile
        <% end %>

      </div>
      <% unless @profile_exists %>
        <div class="panel-footer">Completing this step will also allow you to download a PDF copy of your application for your own reference.</div>
      <% end %>
    </div>
  </div>
</div>


<!--
Documents
-->

<div class="row">
  <div class="col-md-2">
    <!-- status labels -->
    <% if @resume_exists && @transcript_exists %>
      <%= print_status_label(:completed, 'success') %>
    <% else %>
      <%= @resume_exists ? print_status_label(:resume, 'success') : print_status_label(:resume, 'danger') %>
      <%= @transcript_exists ? print_status_label(:transcript, 'success') : print_status_label(:transcript, 'danger') %>
    <% end %>
    <!-- /status labels -->
  </div>
  <div class="col-md-8">

    <div class="panel panel-<%= @resume_exists && @transcript_exists ? 'success' : 'danger' %>">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Step 2</h3>
      </div>
      <div class="panel-body">

        <p>Upload supporting documents. This should at least include your resume and transcript, but you may also submit other relevant documents.</p>

        <!-- button -->
        <%= link_to user_document_path(return_to: true), class: 'btn btn-lg btn-default' do %>
          <i class="fa fa-fw fa-file-pdf-o" aria-hidden="true"></i> Upload Documents
        <% end %>
      </div>
    </div>
  </div>
</div>


<!--
Responses
-->

<div class="row">
  <div class="col-md-2">
    <!-- status labels -->
    <% if @personal_statement_exists && @relevant_coursework_exists %>
      <%= print_status_label(:completed, 'success') %>
    <% else %>
      <%= @personal_statement_exists ? print_status_label(:statement, 'success') : print_status_label(:statement, 'danger') %>
      <%= @relevant_coursework_exists ? print_status_label(:coursework, 'success') : print_status_label(:coursework, 'danger') %>
    <% end %>
    <!-- /status labels -->
  </div>
  <div class="col-md-8">

    <div class="panel panel-<%= @personal_statement_exists && @relevant_coursework_exists ? 'success' : 'danger' %>">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Step 3</h3>
      </div>
      <div class="panel-body">

        <p>Submit short responses to some shared questions that will be made available to all fellowships you apply to.</p>

        <!-- button -->
        <%= link_to statement_path(@category, return_to: true), class: 'btn btn-lg btn-default' do %>
          <i class="fa fa-fw fa-pencil" aria-hidden="true"></i> Short Responses
        <% end %>
      </div>
    </div>
  </div>
</div>


<!--
Preferences
-->

<div class="row">
  <div class="col-md-2">
    <!-- status labels -->
    <% if @ranking_submitted %>
      <%= print_status_label(:completed, 'success') %>
    <% else %>
      <%= @ranking_exists ? print_status_label(:not_submitted, 'warning') : print_status_label(:incomplete, 'danger') %>
    <% end %>
    <!-- /status labels -->
  </div>
  <div class="col-md-8">

    <div class="panel panel-<%= @ranking_submitted ? 'success' : @ranking_exists ? 'warning' : 'danger' %>">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Step 4</h3>
      </div>
      <div class="panel-body">

        <p>Rank your fellowship preferences and write a short response for each of your top <%= @num_applied %> choices.</p>

        <!-- button -->
        <%= link_to fellowships_rank_path(return_to: true), class: 'btn btn-lg btn-default' do %>
          <i class="fa fa-fw fa-sort-amount-desc" aria-hidden="true"></i> Rank Fellowships
        <% end %>
      </div>
      <% if !@ranking_submitted && @ranking_exists %>
        <div class="panel-footer">This step will be marked as completed only after you submit (and not just save) your preferences.</div>
      <% end %>
    </div>
  </div>
</div>


<!--
Recommendations
-->

<div class="row">
  <div class="col-md-2">
    <!-- status labels -->
    <%= @rec_exists ? print_status_label(:completed, 'success') : print_status_label(:not_received, 'danger') %>
    <!-- /status labels -->
  </div>
  <div class="col-md-8">

    <div class="panel panel-<%= @rec_exists ? 'success' : 'danger' %>">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Step 5</h3>
      </div>
      <div class="panel-body">

        <p>Get a letter of recommendation. Provide the following URL to your professor/mentor so that he/she can submit a recommendation for you:</p>

        <% if @profile_exists %>
          <div class="input-group">
            <input type="text" class="form-control" value="<%= rec_url(rec_code: @application.rec_code) %>" data-behavior="auto-select">
            <span class="input-group-btn">
              <a class="btn btn-default" href="mailto:?subject=SIG+Fellowship+-+Letter+of+Recommendation&amp;body=<%= rec_url(rec_code: @application.rec_code) %>"><i class="fa fa-fw fa-paper-plane" aria-hidden="true"></i> Email</a>
            </span>
          </div>
        <% else %>
          <p class="alert alert-danger">
            <i class="fa fa-warning"></i> You need to complete your profile first.
          </p>
        <% end %>
        

      </div>
      <% unless @rec_exists %>
        <div class="panel-footer">This step will be marked as completed when you have received a letter of recommendation.</div>
      <% end %>
    </div>
  </div>
</div>
