<% title 'Explore Fellowships' %>

<div class="page-header">
  <h1>Explore Fellowships</h1>

  <div class="row">
    <div class="col-md-7">
      <p>SIG offers dozens of fully-funded public service internships every summer in a range of organizations around the world. You can find the list of this summer's fellowships below. Students from all majors and years are encouraged to apply, as the fellowships represent public service through a variety of disciplines.</p>
      <p><%= link_to "Learn more", 'https://sig.stanford.edu/fellowships/', class: 'btn btn-default' %>
      <%= link_to "Apply now!", apply_path, class: 'btn btn-primary' %></p>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">Deadlines</div>
        <table class="table">
          <tr>
            <td>Application</td>
            <td><strong><%= print_deadline :fellowship, :application %></strong></td>
          </tr>
          <tr>
            <td>Recommendation</td>
            <td><strong><%= print_deadline :fellowship, :recommendation %></strong></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>

<div class="fellowship-explore">

<ul class="nav nav-tabs nav-justified" id="fellowship-tabs">
  <% @categories.each_with_index do |(category, category_name), i| %>
    <li class="<%= i == 0 ? 'active' : '' %>">
      <a href="#<%= category %>" data-toggle="tab"><%= category_name %></a>
    </li>
  <% end %>
</ul>

<div class="tab-content">
  <% @categories.each_with_index do |(category, category_name), i| %>
    <div class="row tab-pane fade in<%= i == 0 ? ' active' : '' %>" id="<%= category %>">

      <% @fellowships.select{|f| f.category == category.to_s}.each do |f| %>

        <div class="col-sm-4">
          <%= link_to f.url do %>
          <div class="panel panel-default fellowship-block clearfix">
            <div class="panel-heading">
              <div class="fellowship-block-thumb"><%= f.logo? ? image_tag(f.logo.url(:thumb)) : ''%></div>
            </div>
            <div class="panel-body">
              <div class="fellowship-block-header">
                <span class="fellowship-city"><%= "#{f.full_city}" %></span>
                <span class="fellowship-name"><%= f.name %></span>
              </div>
            </div>
          </div>
          <% end %>
        </div>

      <% end %>

    </div>
  <% end %>
</div>

</div>

<script>
$('#fellowship-tabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>