<div class="row">
  <div class="col-xs-12">
    <h1 class="pdf-heading"><%= @user.name %><small><%= print_status(@application) %></small></h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">Personal</h2></div>
      <table class="table">
        <tr>
          <td class="row-name"><%= User.human_attribute_name(:email) %></td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td class="row-name"><%= Profile.human_attribute_name(:first_name) %></td>
          <td><%= @profile.first_name %></td>
        </tr>
        <tr>
          <td class="row-name"><%= Profile.human_attribute_name(:middle_name) %></td>
          <td><%= @profile.middle_name %></td>
        </tr>
        <tr>
          <td class="row-name"><%= Profile.human_attribute_name(:last_name) %></td>
          <td><%= @profile.last_name %></td>
        </tr>
        <tr>
          <td class="row-name"><%= Profile.human_attribute_name(:local_address) %></td>
          <td><%= simple_format(@profile.local_address) %></td>
        </tr>
        <tr>
          <td class="row-name"><%= Profile.human_attribute_name(:perm_address) %></td>
          <td><%= simple_format(@profile.perm_address) %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">Stanford</h2></div>
      <table class="table">
        <tr>
          <td class="row-name"><%= Profile.human_attribute_name(:sunetid) %></td>
          <td><%= @profile.sunetid %></td>
        </tr>
        <tr>
          <td class="row-name"><%= Profile.human_attribute_name(:suid) %></td>
          <td><%= @profile.suid %></td>
        </tr>
        <tr>
          <td class="row-name"><%= Profile.human_attribute_name(:class_year) %></td>
          <td><%= @profile.class_year %></td>
        </tr>
        <tr>
          <td class="row-name"><%= Profile.human_attribute_name(:majors) %></td>
          <td><%= @profile.majors %></td>
        </tr>
        <tr>
          <td class="row-name"><%= Profile.human_attribute_name(:minors) %></td>
          <td><%= @profile.minors %></td>
        </tr>
        <tr>
          <td class="row-name"><%= Profile.human_attribute_name(:overall_gpa) %></td>
          <td><%= @profile.overall_gpa %></td>
        </tr>
        <tr>
          <td class="row-name"><%= Profile.human_attribute_name(:major_gpa) %></td>
          <td><%= @profile.major_gpa %></td>
        </tr>
      </table>
    </div>

    <% if @application.fellowship? %>
      <!-- Fellowship -->
      <div class="panel panel-default">
        <div class="panel-heading"><h2 class="panel-title">Fellowship Preferences</h2></div>

          <% unless @application.choices.exists? %>
            <div class="panel-body">
              <p>Missing preferences</p>
            </div>
          <% end %>

          <table class="table">
            <% @application.choices.all.each_with_index do |choice, i| %>
              <tr><td><%= i + 1 %></td><td><%= choice.fellowship.name %></td></tr>
            <% end %>
          </table>
      </div>
      <!-- Fellowship -->
    <% end %>

  </div>
</div>

<% if @application.stipend? %>
<!-- Stipend -->

<div class="row">

  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">Internship Details</h2></div>
      
        <% if @internship.nil? %>
          <div class="panel-body">Not filled</div>
        <% else %>
          <table class="table">
            <tr>
              <td class="row-name"><%= Internship.human_attribute_name(:name) %></td>
              <td><%= @internship.name %></td>
            </tr>
            <tr>
              <td class="row-name"><%= Internship.human_attribute_name(:location) %></td>
              <td><%= simple_format @internship.location %></td>
            </tr>
            <tr>
              <td class="row-name"><%= Internship.human_attribute_name(:supervisor) %></td>
              <td><%= simple_format @internship.supervisor %></td>
            </tr>
            <tr>
              <td class="row-name"><%= Internship.human_attribute_name(:category) %></td>
              <td><%= simple_format @internship.category %></td>
            </tr>
            <tr>
              <td class="row-name"><%= Internship.human_attribute_name(:related_to) %></td>
              <td><%= simple_format @internship.related_to %></td>
            </tr>
          </table>
        <% end %>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">Checklist</h2></div>
      
        <% if @internship.nil? %>
          <div class="panel-body">Not filled</div>
        <% else %>
          <table class="table">
            <% Internship::SURVEY_LABELS.each do |key, value| %>
              <tr>
                <td style="font-size: 1.2em;"><%= @internship[key] ? "☑" : '☐' %></td>
                <td><small><%= strip_parenthesis_hints value %></small></td>
              </tr>
            <% end %>
            <% Internship::CHECK_LIST_LABELS.each do |key, value| %>
              <tr>
                <td style="font-size: 1.2em;"><%= @internship[key] ? "☑" : '☐' %></td>
                <td><small><%= strip_parenthesis_hints value %></small></td>
              </tr>
            <% end %>
          </table>
        <% end %>
    </div>
  </div>

</div>

<div class="page-break"></div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">Short Answers</h2></div>
      <div class="panel-body">
        <% if @internship.nil? %>
          Not filled
        <% else %>
          <% Internship::SHORT_ANSWER_QUESTIONS.each do |key, value| %>
          <p class="row-name"><%= strip_parenthesis_hints value %></p>
          <%= simple_format @internship[key] %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Stipend -->
<% end %>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">Personal Statement</h2></div>
      <div class="panel-body">
        <%= @application.pers_statement.blank? ? 'Not filled' : simple_format(@application.pers_statement) %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">Relevant Coursework</h2></div>
      <div class="panel-body">
        <%= @application.rel_coursework.blank? ? 'Not filled' : simple_format(@application.rel_coursework) %>
      </div>
    </div>
  </div>
</div>

<% if @application.fellowship? %>
<!-- Fellowship -->
<div class="row">
  <div class="col-xs-12">
    <% @application.choices.all.each_with_index do |choice, i|
      if i < @num_applied %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pdf-rank pull-left">Preference <%= i + 1 %></div>
          <h2 class="panel-title"><%= choice.fellowship.name %></h2>
        </div>
        <ul class="list-group">
          <li class="list-group-item"><%= choice.statement.blank? ? 'Statement missing' : simple_format(choice.statement) %></li>
          <li class="list-group-item"><%= choice.budget.blank? ? 'Budget missing' : simple_format(choice.budget) %></li>
        </ul>
      </div>
    <% end
    end %>

  </div>
</div>
<!-- Fellowship -->
<% end %>
