<h1>Listing applications</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Status</th>
      <th>Rec code</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.category %></td>
        <td><%= application.status %></td>
        <td><%= application.rec_code %></td>
        <td><%= application.user %></td>
        <td><%= link_to 'Show', application %></td>
        <td><%= link_to 'Edit', edit_application_path(application) %></td>
        <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application', new_application_path %>
