<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @application.category %>
</p>

<p>
  <strong>Status:</strong>
  <%= @application.status %>
</p>

<p>
  <strong>Rec code:</strong>
  <%= @application.rec_code %>
</p>

<p>
  <strong>User:</strong>
  <%= @application.user %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
