<% title 'Review Stipends' %>

<div class="page-header">
  <h1>Review Stipend Applications</h1>
  <p>Submitted applications are in green.</p>
</div>

<div class="panel panel-default">
  <table class="table">
    <tr><th>Applicant Name</th><th>Year</th><th>Major</th><th></th></tr>
    <% @applications.each do |application| %>
      <%
        user = application.user
        if user.name.blank? then next end
      %>
      <tr <%= raw(' class="success"') if application.completed? %>>
        <td><%= link_to user.name, application_path(application) %></td>
        <% profile = user.profile %>
        <td><%= if profile then profile.class_year else '' end %></td>
        <td><%= if profile then profile.majors else '' end %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="Download PDFs" data-toggle="tooltip" data-placement="right">
              <i class="fa fa-file-pdf-o"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'application', application_path(application, format: :pdf) %></li>
              <% application.recommendations.each do |rec| %>
                <li><%= link_to 'recommendation', recommendation_path(rec, format: :pdf) %></li>
              <% end %>
              <% user.documents.each do |doc| %>
                <li><%= link_to doc.category, doc.file.url %></li>
              <% end %>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>