<p id="notice"><%= notice %></p>

<p>
  <strong>Rank:</strong>
  <%= @choice.rank %>
</p>

<p>
  <strong>Statement:</strong>
  <%= @choice.statement %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @choice.organization %>
</p>

<p>
  <strong>Application:</strong>
  <%= @choice.application %>
</p>

<%= link_to 'Edit', edit_choice_path(@choice) %> |
<%= link_to 'Back', choices_path %>
