<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @document.category %>
</p>

<p>
  <strong>User:</strong>
  <%= @document.user %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
