<%- model_class = Application -%>
<% title "#{model_class.human_attribute_name(@category)} - Application" %>

<div class="page-header">
  <h1>Your <%= model_class.human_attribute_name(@category) %> Application</h1>
  <p>There are five steps to completing your application. When all the steps below are showing <span class="label label-success">Completed</span> then you have completed your application process.</p>

  <p>
  <%= link_to application_path(@application, format: :pdf), class: "btn btn-default#{@profile_exists ? '' : ' disabled'}", data: { toggle: 'tooltip', placement: 'left' }, title: 'Snapshot of your application' do %>
    <i class="fa fa-fw fa-download" aria-hidden="true"></i> Download PDF
  <% end %>

  <%= link_to application_path(@application),
              method: :delete,
              class: "btn btn-default",
              data: {
                toggle: 'tooltip',
                placement: 'right',
                confirm: "Are you sure you want to delete your #{model_class.human_attribute_name(@category)} application?"
              },
              title: 'Delete your application' do %>
    <i class="fa fa-fw fa-trash-o" aria-hidden="true"></i> Delete
  <% end %>

  </p>
</div>

<!--
Profile
-->

<div class="row">
  <div class="col-md-2">
    <!-- status labels -->
    <%= @profile_exists ? print_status_label(:completed, 'success') : print_status_label(:incomplete, 'danger') %>
    <!-- /status labels -->
  </div>
  <div class="col-md-8">

    <div class="panel panel-<%= @profile_exists ? 'success' : 'danger' %>">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Step 1</h3>
      </div>
      <div class="panel-body">

        <p>Make sure that your profile is updated.</p>

        <!-- button -->
        <%= link_to user_profile_path(return_to: true), class: 'btn btn-lg btn-default' do %>
          <i class="fa fa-fw fa-user" aria-hidden="true"></i> Edit Profile
        <% end %>

      </div>
      <% unless @profile_exists %>
        <div class="panel-footer">Completing this step will also allow you to download a PDF copy of your application for your own reference.</div>
      <% end %>
    </div>
  </div>
</div>


<!--
Documents
-->

<div class="row">
  <div class="col-md-2">
    <!-- status labels -->
    <% if @insurance_exists && @resume_exists && @transcript_exists %>
      <%= print_status_label(:completed, 'success') %>
    <% else %>
      <%= @insurance_exists ? print_status_label(:insurance, 'success') : print_status_label(:insurance, 'danger') %>
      <%= @resume_exists ? print_status_label(:resume, 'success') : print_status_label(:resume, 'danger') %>
      <%= @transcript_exists ? print_status_label(:transcript, 'success') : print_status_label(:transcript, 'danger') %>
    <% end %>
    <!-- /status labels -->
  </div>
  <div class="col-md-8">

    <div class="panel panel-<%= @insurance_exists && @resume_exists && @transcript_exists ? 'success' : 'danger' %>">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Step 2</h3>
      </div>
      <div class="panel-body">

        <p>Upload supporting documents. This should at least include your resume, transcript, and health insurance documentation, but you may also submit other relevant documents.</p>

        <!-- button -->
        <%= link_to user_document_path(return_to: true), class: 'btn btn-lg btn-default' do %>
          <i class="fa fa-fw fa-file-pdf-o" aria-hidden="true"></i> Upload Documents
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--
Internship
-->

<div class="row">
  <div class="col-md-2">
    <!-- status labels -->
    <%= @internship_exists ? print_status_label(:completed, 'success') : print_status_label(:incomplete, 'danger') %>
    <!-- /status labels -->
  </div>
  <div class="col-md-8">

    <div class="panel panel-<%= @internship_exists ? 'success' : 'danger' %>">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Step 3</h3>
      </div>
      <div class="panel-body">

        <p>Fill in the details for your internship.</p>

        <!-- button -->
        <%= link_to stipends_questions_path(return_to: true), class: 'btn btn-lg btn-default' do %>
          <i class="fa fa-fw fa-check-square-o" aria-hidden="true"></i> Internship Details
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--
Essay
-->

<div class="row">
  <div class="col-md-2">
    <!-- status labels -->
    <% if @personal_statement_exists && @relevant_coursework_exists %>
      <%= print_status_label(:completed, 'success') %>
    <% else %>
      <%= @personal_statement_exists ? print_status_label(:essay, 'success') : print_status_label(:essay, 'danger') %>
      <%= @relevant_coursework_exists ? print_status_label(:coursework, 'success') : print_status_label(:coursework, 'danger') %>
    <% end %>
    <!-- /status labels -->
  </div>
  <div class="col-md-8">

    <div class="panel panel-<%= @personal_statement_exists && @relevant_coursework_exists ? 'success' : 'danger' %>">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Step 4</h3>
      </div>
      <div class="panel-body">

        <p>Submit your short essay response and list your relevant coursework.</p>

        <!-- button -->
        <% if @internship_exists %>
          <%= link_to statement_path(@category, return_to: true), class: 'btn btn-lg btn-default' do %>
            <i class="fa fa-fw fa-pencil" aria-hidden="true"></i> Short Essay
          <% end %>
        <% else %>
          <p class="alert alert-danger">
            <i class="fa fa-warning"></i> You need to complete Step 3 first.
          </p>
        <% end %>
        
      </div>

      <% unless @completed %>
        <div class="panel-footer">Completing this step will mark your application as submitted for review. Your supervisor can fill in the questionnaire in Step 5 at a later time.</div>
      <% end %>

    </div>
  </div>
</div>

<!--
Questionnaire
-->

<div class="row">
  <div class="col-md-2">
    <!-- status labels -->
    <%= @rec_exists ? print_status_label(:completed, 'success') : print_status_label(:not_received, 'danger') %>
    <!-- /status labels -->
  </div>
  <div class="col-md-8">

    <div class="panel panel-<%= @rec_exists ? 'success' : 'danger' %>">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Step 5</h3>
      </div>
      <div class="panel-body">

        <p>Your supervisor from the host organization must provide a written response to a short questionnaire regarding the internship. Provide the following URL to your supervisor so that they can submit their responses:</p>

        <% if @profile_exists %>
          <div class="input-group">
            <input type="text" class="form-control" value="<%= rec_url(rec_code: @application.rec_code) %>" data-behavior="auto-select">
            <span class="input-group-btn">
              <a class="btn btn-default" href="mailto:?subject=SIG+Stipend+-+Short+Questionaire&amp;body=<%= rec_url(rec_code: @application.rec_code) %>"><i class="fa fa-fw fa-paper-plane" aria-hidden="true"></i> Email</a>
            </span>
          </div>
        <% else %>
          <p class="alert alert-danger">
            <i class="fa fa-warning"></i> You need to complete your profile first.
          </p>
        <% end %>
        

      </div>
      <% unless @rec_exists %>
        <div class="panel-footer">This step will be marked as completed when your supervisor has completed the questionnaire.</div>
      <% end %>
    </div>
  </div>
</div>
