<div class="signed-in">
  <% if user_signed_in? %>
    Welcome, <strong><%= current_user.email %></strong>
  <% end %>
</div>

<header class="clearfix row">
<div class="col-md-1">
<%= link_to 'SIG', 'https://sig.stanford.edu', class: 'brand', data: { toggle: 'tooltip', placement: 'right' }, title: 'Stanford in Government' %>
</div>
<nav class="col-md-8">
  <%= link_to "Home", root_url, class: "btn btn-link" %>
  <%= link_to "Fellowship", fellowships_url, class: "btn btn-link"  %>
  <%= link_to "Stipend", stipends_url, class: "btn btn-link"  %>
  <%= link_to "FAQ", faq_url, class: "btn btn-link"  %>
</nav>
<nav class="col-md-3">
<div class="pull-right">
<% if user_signed_in? %>
  <div class="btn-group">
    <% if current_user.can_read? %>
      <%= link_to "Review", admin_home_path, class: "btn btn-danger" %>
    <% end %>
    <%= link_to "Apply", apply_path, class: "btn btn-primary" %>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to user_profile_path do %>
        <i class="fa fa-fw" aria-hidden="true"></i> Your Profile
      <% end %></li>
      <li><%= link_to user_document_path do %>
        <i class="fa fa-fw" aria-hidden="true"></i> Upload Docs
      <% end %></li>
      <li class="divider"></li>
      <li><%= link_to edit_user_registration_path do %>
        <i class="fa fa-fw" aria-hidden="true"></i> Change Password
      <% end %></li>
      <li><%= link_to destroy_user_session_path do %>
        <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i> Log Out
      <% end %></li>
    </ul>
  </div>
<% else %>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn-success btn" %>
  <%= link_to "Log In", new_user_session_path, class: "btn btn-default"  %>
<% end %>
</div>
</nav>

</header>